
body{
    height: 100%;
    background-image: url(../img/login.jpg);
    background-repeat:no-repeat;
    background-size: 1500px;
    background-position: top center;
}
.content{
 padding-top: 230px;
}
.panel-size{
  width: 300px;
  min-width: 300px;
  text-align: center;
  display: inline-block;
}
.submit-btn{
  margin-top: 20px;
}
.col-content{
  text-align: center;
}
